
    <h6 class="section-title">Latest Images</h6>

    <ul class="projects-carousel clearfix">

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-1.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-2.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-3.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-4.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-5.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-6.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-7.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>

        <li>
            <a href="single-project.html">
                <img src="{{ asset('assets/results/img/placeholders/portfolio-project-4t-8.jpg') }}" alt="   ">
                <h5 class="title">Title</h5>
                <span class="categories">Subtitle</span>
            </a>
        </li>


    </ul><!-- end .projects-carousel -->
    