<!DOCTYPE html>
	<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>View | Details</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!--[if !lte IE 6]><!-->
		<link rel="stylesheet" href="{{ asset('assets/content/css/style.css')}}" media="screen" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
		<link rel="stylesheet" href="{{ asset('assets/content/css/fancybox.min.css')}}" media="screen" />
		<link rel="stylesheet" href="{{ asset('assets/content/css/video-js.min.css')}}" media="screen" />
		<link rel="stylesheet" href="{{ asset('assets/content/css/videojs.css')}}" media="screen" />
		<link rel="stylesheet" href="{{ asset('assets/content/css/audioplayerv1.min.css')}}" media="screen" />
	<!--<![endif]-->

	<!--[if lte IE 6]>
		<link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css')}} media="screen, projection">
	<![endif]-->

	<!-- HTML5 Shiv + detect touch events -->
	<script src="{{ asset('assets/content/js/modernizr.custom.js') }}"></script>

	<!-- HTML5 video player -->
	<script src="{{ asset('assets/content/js/video.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/video/video.js') }}"></script>
	 <!-- Login Dropdown Form -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="{{ asset('assets/content/js/login.js') }}"></script>
    <script src="{{ asset('assets/content/js/downloaderII.js') }}"></script>
		
    <script>

    </script>
	</head>
<body onload="">

<header id="header" class="container clearfix">

	<a href="/index.html" id="logo">
		<img src="{{ asset('assets/content/img/logo.png')}}" alt="Kennedy Space Center" width="220px;">
	</a>

	<nav id="main-nav">
		
		<ul>
			<li class="current">
				<a href="#" data-description="ATTRACTIONS, EDUCATION">OVERVIEW</a>
				<ul>
					<li><a href="#">Sales Team Contact Information</a></li>
					<li><a href="#">KSCVC Product Overview</a></li>
                    <li><a href="#">Branding information</a></li>
					<li><a href="#">Approved boiler plate</a></li>
                    <li><a href="#">KSCVC Park Images </a></li>
					<li><a href="#">Private Tour and Program Requests </a></li>
                    <li><a href="#">Dining options</a></li>
				</ul>
			</li>
			<li>
				<a href="#" data-description="Add-Ons & Upgrades">UPGRADES</a>
				<ul>
					
					<li><a href="#">Add-Ons & Upgrades</a>
						<ul>
							<li><a href="#">Lunch with an Astronaut</a></li>
                            <li><a href="#">KSC Special Interest Bus Tours</a></li>
							<li><a href="#">Cosmic Quest</a></li>
							<li><a href="#">KSC SmartGuide </a></li> 
                            <li><a href="#">Photo Opportunities</a></li>
						</ul>
					</li>
					
				</ul>
			</li>
			<li>
				<a href="attractions.html" data-description="">ATTRACTIONS </a>
				<ul>
					<li><a href="#">Heroes & Legends</a></li>
                    <li><a href="#">Space Shuttle Atlantis®</a></li>
                    <li><a href="#">Shuttle Launch Experience</a></li>
                    <li><a href="#">Kennedy Space Center Bus Tour</a></li>
                    <li><a href="#">Apollo/Saturn V Center </a></li>
                    <li><a href="#">Journey to Mars: Explorers Wanted</a></li>
                    <li><a href="#">Rocket Garden</a></li>
                    <li><a href="#">IMAX® Theater</a></li>
                    <li><a href="#">Astronaut Encounter</a></li>
                    <li><a href="#">Science on a Sphere® in IMAX®</a></li>
                    <li><a href="#">Eyes on the Universe</a>
                    	<ul>
							<li><a href="#">Astronaut Memorial</a></li>
                            <li><a href="#">Other Shows and Attractions</a></li>
						</ul>
                    </li>
                    
				</ul>
			</li>
			<li>
				<a href="#" data-description="educational programs">GROUPS</a>
				<ul>
					<li><a href="#">Space Explorers Adventure (SEA)</a></li>
					<li><a href="#">Salute to Science</a></li>
					<li><a href="#">Overnight Adventures Space Shuttle Atlantis® </a></li>
					<li><a href="#">Overnight Adventures Apollo/Saturn V Center</a></li>
                    <li><a href="#">After Hours Adventure</a></li>
					<li><a href="#">Space Exploration Rocketry </a></li>
					<li><a href="#">Astronaut Training Experience (ATX®)</a></li>
					<li><a href="#">Family Astronaut Training Experience (ATX®)</a></li>
                    <li><a href="#">Camp KSC® International</a></li>
					<li><a href="#">Camp KSC® International Advanced</a></li>
					<li><a href="#">Meal Options</a></li>
				</ul>
			</li>
			<li>
				<a href="#" data-description="Enquire here">INTERNATIONAL</a>
                
                <ul>
					<li><a href="#">Visitors Guides Folder </a></li>
					<li><a href="#">Camp KSC® International</a></li>
					<li><a href="#">Camp KSC® International Advanced</a></li>
					<li><a href="#">Camp KSC® International Policies</a></li>
                    <li><a href="#">Camp KSC® International Reservation Form</a></li>
					<li><a href="#">KSC SmartGuide </a></li>
                </ul>
                    
			</li>
		</ul>

	</nav><!-- end #main-nav -->
	
</header><!-- end #header -->



<section id="content" class="container clearfix">

  <section class="boxsearch">

 					<form id="ui_element" class="sb_wrapper">
                        <p>
                            <span class="sb_down"></span>
                            <input class="sb_input" type="text"/>
                            <input class="sb_search" type="submit" value=""/>
                        </p>
                        <ul class="sb_dropdown" style="display:none;">
                            <li class="sb_filter">Filter your search</li>
                            <li><input type="checkbox"/><label for="all"><strong>All Categories</strong></label></li>
                            <li><input type="checkbox"/><label for="imagesfile">Images</label></li>
                            <li><input type="checkbox"/><label for="videosfile">Videos </label></li>
                            <li><input type="checkbox"/><label for="pdffile">PDF Files</label></li>
                            <li><input type="checkbox"/><label for="wordfile">Word Files</label></li>
                            <li><input type="checkbox"/><label for="excelfile">Excel Files</label></li>
                            <li><input type="checkbox"/><label for="powerpointfile">Power Point Files </label></li>
                        </ul>
                    </form>
                    
     </section> <!--End Box search-->
     
     <aside class="dropdown-box">
     
     	<!-- Login Starts Here -->
            <div id="loginContainer">
                <a href="#" id="loginButton"><span>Login</span><em></em></a>
                <div style="clear:none"></div>
                <div id="loginBox">                
                    <form id="loginForm">
                        <fieldset id="body">
                            <fieldset>
                                <label for="email">Email Address</label>
                                <input type="text" name="email" id="email" />
                            </fieldset>
                            <fieldset>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" />
                            </fieldset>
                            <input type="submit" id="login" value="Log in" />
                            <input type="submit" id="signin" value="Sign in" />
                            <label for="checkbox"><input type="checkbox" id="checkbox" />Remember me</label>
                        </fieldset>
                        <span><a href="#">Forgot your password?</a></span>
                    </form>
                </div>
            </div>
            <!-- Login Ends Here -->
     	
     </aside>
<!-- CONTENT -->
        {% block body %}{% endblock %}
    


  <!-- ****************************************************Latest Images ************************************************-->

    <section style="clear:both;">
    <h6 class="section-title">Latest Images</h6>

	<ul class="projects-carousel clearfix">



		<li>
			
		</li>


	</ul><!-- end .projects-carousel -->
    
    </section> 

<!-- end SECTION LATEST -->

	
</section><!-- end #content -->

<footer id="footer" class="clearfix">
	<div class="container">

		<div class="three-fourth">

			<nav id="footer-nav" class="clearfix">

				<ul>
					<li><a href="index.html">Overview</a></li>
					<li><a href="elements.html">Upgrades</a></li>
					<li><a href="blog.html">Atraccions</a></li>
					<li><a href="portfolio-4-columns.html">Groups</a></li>
					<li><a href="contact-us.html">International</a></li>
				</ul>
				
			</nav><!-- end #footer-nav -->

			<ul class="contact-info">
				<li class="address">Address - USA</li>
				<li class="phone">(xxx) xxx xxx</li>
				<li class="email"><a href="mailto:contact@name.com">info@xxxxx.com</a></li>
			</ul><!-- end .contact-info -->
			
		</div><!-- end .three-fourth -->

		<div class="one-fourth last">

			<span class="title">Stay connected</span>

			<ul class="social-links">
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="digg"><a href="#">Digg</a></li>
				<li class="vimeo"><a href="#">Vimeo</a></li>
				<li class="youtube"><a href="#">YouTube</a></li>
				<li class="skype"><a href="#">Skype</a></li>
			</ul><!-- end .social-links -->

		</div><!-- end .one-fourth.last -->
		
	</div><!-- end .container -->




</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

	<div class="container">

		<ul>
			<li>Kennedy Space Center Visitor Complex &copy; 2017</li>
			<li><a href="#">Legal Notice</a></li>
			<li><a href="#">Terms</a></li>
		</ul>

	</div><!-- end .container -->

</footer><!-- end #footer-bottom -->

<!--[if !lte IE 6]><!-->
	<script src="{{ asset('assets/content/js/pdf.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ asset('assets/content/js/jquery-1.7.1.min.js') }}"><\/script>')</script>
	<!--[if lt IE 9]> <script src="{{ asset('assets/content/js/selectivizr-and-extra-selectors.min.js') }}"></script> <![endif]-->
	<script src="{{ asset('assets/content/js/respond.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.easing-1.3.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.fancybox.pack.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.smartStartSlider.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.jcarousel.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.cycle.all.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.isotope.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/audioplayerv1.min.js') }}"></script>
	<script src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ asset('assets/content/js/jquery.gmap.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/jquery.touchSwipe.min.js') }}"></script>
	<script src="{{ asset('assets/content/js/custom.js') }}"></script>
	
<!--<![endif]-->

<!-- BOX SEARCH -->
        
        <script type="text/javascript">
            $(function() {
				/**
				* the element
				*/
				var $ui 		= $('#ui_element');
				
				/**
				* on focus and on click display the dropdown, 
				* and change the arrow image
				*/
				$ui.find('.sb_input').bind('focus click',function(){
					$ui.find('.sb_down')
					   .addClass('sb_up')
					   .removeClass('sb_down')
					   .andSelf()
					   .find('.sb_dropdown')
					   .show();
				});
				
				/**
				* on mouse leave hide the dropdown, 
				* and change the arrow image
				*/
				$ui.bind('mouseleave',function(){
					$ui.find('.sb_up')
					   .addClass('sb_down')
					   .removeClass('sb_up')
					   .andSelf()
					   .find('.sb_dropdown')
					   .hide();
				});
				
				/**
				* selecting all checkboxes
				*/
				$ui.find('.sb_dropdown').find('label[for="all"]').prev().bind('click',function(){
					$(this).parent().siblings().find(':checkbox').attr('checked',this.checked).attr('disabled',this.checked);
				});
            });
        </script>	<!-- / BOX SEARCH -->
</body>
</html>