{% extends 'upload_base.html.twig' %}

{% block body %}
	<div class="content">
		<!--START FORM -->

		<div class="row">


			<div class="clearfix"></div>
			<div class="form-horizontal">
				<div class="panel panel-flat">
					{{ form_start(edit_form) }}

					<div class="panel-heading">
						<h5 class="panel-title">Upload New  Image</h5>
					</div>
					<div class="panel-heading">
						<h5 class="panel-title"> Basic infomartion </h5>

						<div class="col-md-6">

							{{ form_widget(edit_form) }}
							
							
							<div class="col-md-6">
								<img src= "{{asset ( "/"~mediaKsc.url) | imagine_filter('ksc_thumb')}}"> 
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<legend class="text-semibold"><i class="icon-truck position-left"></i> Details</legend>
						<label class="col-md-6 control-label">Object date:</label>

						<div class="content-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-calendar3"></i></span>
								<input id="dateFromUpload" required name="year_obj"  type="text" class="form-control daterange-single"  placeholder="Select a date">
							</div>
							<span class="help-block">Format must be YYYY-MM-DD </span>
						</div>
						<label class="col-md-6 control-label">Color:</label>
						<div class="col-md-6">
							<label class="radio-inline">
								<input type="radio" class="styled" value="RGB" name="color_obj" >
								RGB (Web)
							</label>

							<label class="radio-inline">
								<input type="radio" class="styled" value="CMYK" name="color_obj">
								CMYK (print)
							</label>
						</div>
					</div>
					<label class="col-md-6 control-label">Resolution:</label>
					<div class="col-md-6">
						<div class="row">

							<div class="mb-12">
								<select data-placeholder="Select resolution file"  required name="resolution_obj"  class="select">
									<option></option>
									<option value="1">Small</option> 
									<option value="2">Medium</option> 
									<option value="3">High Resolution</option> 
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label class="col-lg-3 control-label">Tags:</label>
						<div class="col-lg-12">
							<select multiple="multiple"  data-placeholder="Enter tags" required class="select-icons" name="tags_obj[]" >
								<optgroup label="Services">
									<option value="wordpress2" data-icon="wordpress2">Wordpress</option>
									<option value="tumblr2" data-icon="tumblr2">Tumblr</option>
									<option value="stumbleupon" data-icon="stumbleupon">Stumble upon</option>
									<option value="pinterest2" data-icon="pinterest2">Pinterest</option>
									<option value="lastfm2" data-icon="lastfm2">Lastfm</option>
								</optgroup>
								<optgroup label="File types">
									<option value="pdf" data-icon="file-pdf">PDF</option>
									<option value="word" data-icon="file-word">Word</option>
									<option value="excel" data-icon="file-excel">Excel</option>
									<option value="openoffice" data-icon="file-openoffice">Open office</option>
								</optgroup>
								<optgroup label="Browsers">
									<option value="chrome" data-icon="chrome" selected="selected">Chrome</option>
									<option value="firefox" data-icon="firefox" selected="selected">Firefox</option>
									<option value="safari" data-icon="safari">Safari</option>
									<option value="opera" data-icon="opera">Opera</option>
									<option value="IE" data-icon="IE">IE</option>
								</optgroup>
							</select>
							<div class="text-right">

							</div>	

							<input type="submit" value="Edit" class="btn btn-primary" />
							{{ form_end(edit_form) }}



						</div>
						<div id="progressbox" ><div id="progressbar"></div ><div id="statustxt">0%</div></div>
						<div id="output"></div>

						<div class="col-md-6">
							<br>
							<button class"btn btn-default">
									<a href="{{ path('app_home') }}">Back </a>
							</button>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<li>
	<a href="{{ path('app_home') }}">Back to the list</a>
</li>
<li>

</li>
</ul>
{% endblock %}
